<footer v-if="currentuser">
    <p>Roku 2021 ©</p>
    <div class="footerSocials">
        <img class="footerIcon"  src="images/facebookIcon.png" alt="Roku Facebook Link">
        <img class="footerIcon" src="images/instaIcon.png" alt="Roku Instagram Link">
        <img class="footerIcon" src="images/twitterIcon.png" alt="Roku Twitter Link">
    </div>
</footer>