<nav class="nav">
    <div class="navbar">
        <div class="navbarMenu"></div>
        <div class="navbarLinkBox">
            <a href="#">Home</a>
        </div>
        <div class="navbarSearch"></div>
    </div>
</nav>