<nav v-if="currentuser" class="navbar">
    <img class="navLogo" src="images/roku-logo.svg" alt="Roku Streaming Logo">
    <div class="userNav">
        <img class="navPfp" v-if="currentuser.user_avatar" :src="'images/users/' + currentuser.user_avatar" :alt="currentuser.user_fname + 's Profile Picture'">
        <img class="navAdmin" v-if="currentuser.user_admin" src="images/gear.png" alt="Admin Settings">
        <img class="navLogout" @click="logout" src="images/logout.png" alt="Logout">
    </div>
</nav>