<section class="pageHome">

    <div class="heroRotater">
        <video class="heroVid" controls autoplay muted>This video is unsupported by your browser.</video>
        <div class="heroInfo">
            <div class="movieTopBox">
                <h2 class="movieTitle">The Godfather</h2>
                    <div class="movieYrLBox">
                        <h3 class="movieYear">1972</h3>
                        <h3 class="movieLength">2h55m</h3>
                    </div>
                </div>
            <p class="movieDesc">An organized crime dynasty's aging patriarch transfers control of his clandestine empire to his reluctant son.</p>
        </div>

    </div>

    <div class="movieRowHeader">
        <h3 class="headerText">Latest Movies</h3>
        <h3 class="headerViewAll">View All</h3>
    </div>

    <div class="movieRow">
        <moviethumb v-for="item in allMovies" :movie="item" :key="item.movies_id"></moviethumb>
    </div>

</section>