<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <title>Roku Streaming Service</title>
</head>
<body>
    <nav>Home About Contact</nav>
    <main id="app">

        {{{ body }}}

    </main>
    <script defer type="module" src="scripts/main.js"></script>
</body>
</html>