<section class="pageLogin">
    <div class="loginBox">
        <img class="rokuLoginLogo" src="images/roku-logo.svg" alt="Roku Logo">
        <input type="email" name="" id="usernameBox" placeholder="Email Address">
        <input type="password" name="" id="passwordBox" placeholder="Password">
        <p>Forgot your password?</p>
        <div class="loginButton"><p>Login</p></div>
        <section class="signupBox">
            <p>Don't have an account?</p>
            <p class="signupLink">Sign up</p>
        </section>
        <div class="socialsBox">
            <div class="googleBox"></div>
            <div class="facebookBox"></div>
        </div>
    </div>
  
</section>