.movieRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.heroRotater {
    height: 330px;
    background-color: rgb(206, 206, 206);
    display: flex;
    justify-content: center;
    .heroVid{
        margin-top: 40px;
        background-color: rgb(120, 69, 161);
        height: 220px;
        width: 90%;
        border-radius: 40px;
    }
}

.movieRowHeader {
    margin: auto;
    width: 90%;
    height: 80px;
    background-color: rgb(233, 233, 233);
    font-size: 18pt;
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    box-sizing: border-box;
    color: black;
    .headerText{

    }
    .headerViewAll{
        color: aqua;
        cursor: pointer;
    }
}

.movieBox {
    width: 120px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    .movieThumbImg {
        width: 100px;
        align-self: center;
    }
    .movieTitle {
        text-align: center;
    }
}

