html {
    background: rgb(255, 255, 255);
    min-width: 360px;
    max-width: 767px;//ONLY HERE WHILE DESIGNING MOBILE!!!
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: white;
}