.pageLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.rokuLoginLogo {
    width: 53%;
    max-width: 240px;
    margin-bottom: 56px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    input {
        width:100%;
        height: 60px;
        border: none;
        box-sizing: border-box;
        padding: 20px;
        font-size: 13pt;
        border-radius: 6px;
        filter: $shadow;
    }
}

#usernameBox {
    margin-bottom: 18px;
}
#passwordBox {
    margin-bottom: 58px;
}

.loginButton {
    height: 60px;
    width: 70%;
    max-width: 240px;
    border: none;
    border-radius: 30px;
    background-color: $mainPurple;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 15pt;
    margin-bottom: 16px;
}

.socialsBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 64%;
    margin-top: 30px;
    .googleBox, .facebookBox {
        width: 106px;
        height: 66px;
        background-color: white;
        border-radius: 12px;
        filter: $shadow;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .loginIcon{
        width: 36px;
    }
}

