html {
  background: white;
  min-width: 360px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: white;
}

nav {
  height: 120px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.11));
  border-bottom: 3px solid #662d91;
}
nav .navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
nav .navbar .navbarMenu {
  background-color: black;
  width: 34px;
  height: 34px;
  cursor: pointer;
}
nav .navbar .navbarLinkBox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 70%;
}
nav .navbar .navbarLinkBox a {
  align-self: center;
  font-style: normal;
  text-decoration: none;
  color: black;
  font-size: 18pt;
}
nav .navbar .navbarSearch {
  background-color: black;
  width: 34px;
  height: 34px;
  cursor: pointer;
}

.footer {
  height: 80px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  border-top: 3px solid #662d91;
}
.footer .footerBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.heroRotater {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.heroVid {
  width: 100%;
  background-color: #662d91;
  filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.11));
}

.heroInfo {
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 54px;
}

.movieTopBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 12px;
  font-weight: 600;
}

.movieTitle {
  font-size: 16pt;
  line-height: 18pt;
  width: 79%;
}

.movieYrLBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  text-align: right;
  width: 21%;
  font-size: 13pt;
}

.movieYear {
  margin-bottom: 1px;
}

.movieDesc {
  font-size: 13pt;
  line-height: 14pt;
}

.movieRowHeader {
  padding-left: 26px;
  padding-right: 26px;
  margin-top: 12px;
  margin-bottom: 46px;
  display: flex;
  justify-content: space-between;
  font-size: 16pt;
  color: black;
  box-sizing: border-box;
}
.movieRowHeader .headerViewAll {
  color: #662d91;
  cursor: pointer;
}

.movieRow {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 16px;
  margin-right: 16px;
}

.movieBox {
  width: 96px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-bottom: 30px;
  border-radius: 14px;
  background-color: white;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
  cursor: pointer;
  transition-duration: 300ms;
}
.movieBox:hover {
  filter: drop-shadow(0px 8px 20px rgba(179, 80, 255, 0.4));
}
.movieBox .movieThumbImg {
  border-radius: 4px;
  width: inherit;
  align-self: center;
}

.pageLogin {
  height: 100vh;
  display: flex;
}
.pageLogin p {
  font-size: 11pt;
  color: #969696;
}

.loginBox {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 570px;
  width: 380px;
  box-sizing: border-box;
}
.loginBox input {
  width: 100%;
  height: 70px;
  border: none;
  box-sizing: border-box;
  padding: 22px;
  font-size: 12pt;
  border-radius: 6px;
  filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.11));
}

.rokuLoginLogo {
  width: 160px;
  margin-top: 44px;
  margin-bottom: 30px;
}

.loginButton {
  height: 68px;
  width: 100%;
  border-radius: 24px;
  background-color: #23223b;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -4px;
  margin-bottom: -10px;
  cursor: pointer;
}
.loginButton p {
  color: white;
  font-weight: bold;
  font-size: 18pt;
}

.signupBox {
  display: flex;
  flex-direction: row;
}
.signupBox .signupLink {
  margin-left: 4px;
  font-weight: bold;
  cursor: pointer;
}

.socialsBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 224px;
}
.socialsBox .googleBox, .socialsBox .facebookBox {
  width: 106px;
  height: 66px;
  background-color: white;
  border-radius: 12px;
  filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.11));
}

/*# sourceMappingURL=main.css.map */
