html {
  background: white;
  min-width: 360px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: white;
}

.navbar {
  background-color: white;
  border-bottom: 5px solid #662d91;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 22px;
  padding-bottom: 24px;
  position: fixed;
  top: 0;
  z-index: 999;
}

.navLogo {
  height: 36px;
}

.userNav {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navPfp {
  border-radius: 100%;
  height: 29px;
  width: 29px;
}

.navAdmin {
  height: 29px;
  width: 29px;
  cursor: pointer;
  margin-left: 10px;
}

.navLogout {
  height: 26px;
  width: 26px;
  cursor: pointer;
  margin-left: 10px;
}

footer {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  border-top: 5px solid #662d91;
  filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.11));
}
footer p {
  font-size: 14pt;
}

.footerIcon {
  height: 29px;
  padding-left: 2px;
  cursor: pointer;
}

.heroRotater {
  display: flex;
  flex-direction: column;
  margin-top: 87px;
}

.heroVid {
  width: 100%;
  background-color: #662d91;
  filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.11));
}

.heroInfo {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 54px;
}

.movieTopBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 12px;
  font-weight: 600;
}

.movieTitle {
  font-size: 16pt;
  line-height: 18pt;
  width: 79%;
}

.movieYrLBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  text-align: right;
  width: 21%;
  font-size: 13pt;
}

.movieYear {
  margin-bottom: 1px;
}

.movieDesc {
  font-size: 13pt;
  line-height: 14pt;
}

.mediaRowHeader {
  margin-bottom: 46px;
  display: flex;
  justify-content: space-between;
  font-size: 16pt;
  color: black;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.11));
  width: 100%;
}
.mediaRowHeader .headerViewAll {
  color: #662d91;
  cursor: pointer;
}

.movieRow {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 16px;
  margin-right: 16px;
}

.movieBox {
  width: 100px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-bottom: 30px;
  border-radius: 14px;
  background-color: white;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
  cursor: pointer;
  transition-duration: 300ms;
}
.movieBox:hover {
  filter: drop-shadow(0px 8px 20px rgba(179, 80, 255, 0.4));
}
.movieBox .movieThumbImg {
  border-radius: 4px;
  width: inherit;
  align-self: center;
}

.moviesButton, .showsButton, .audioButton {
  width: 33.33%;
  padding: 6px;
  background-color: #662d91;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moviesButton:hover, .showsButton:hover, .audioButton:hover {
  opacity: 90%;
}

.moviesButton img {
  height: 28px;
}

.showsButton img {
  height: 36px;
}

.audioButton img {
  height: 30px;
}

.pageLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.rokuLoginLogo {
  width: 53%;
  max-width: 240px;
  margin-bottom: 56px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.loginForm input {
  width: 100%;
  height: 60px;
  border: none;
  box-sizing: border-box;
  padding: 20px;
  font-size: 13pt;
  border-radius: 6px;
  filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.11));
}

#usernameBox {
  margin-bottom: 18px;
}

#passwordBox {
  margin-bottom: 58px;
}

.loginButton {
  height: 60px;
  width: 70%;
  max-width: 240px;
  border: none;
  border-radius: 30px;
  background-color: #662d91;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 15pt;
  margin-bottom: 16px;
}

.socialsBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 64%;
  margin-top: 30px;
}
.socialsBox .googleBox, .socialsBox .facebookBox {
  width: 106px;
  height: 66px;
  background-color: white;
  border-radius: 12px;
  filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.11));
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.socialsBox .loginIcon {
  width: 36px;
}

.pageUsers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  padding-bottom: 38px;
  background-color: white;
}

.usersHeader {
  font-size: 22pt;
  display: flex;
  color: grey;
  margin-bottom: 20px;
}

#usersList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

.usersBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-top: 36px;
  width: 200px;
}

.usersPfp {
  margin-bottom: 12px;
  border-radius: 100%;
  border: 3px solid #662d91;
  filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.11));
  height: 80px;
  width: 80px;
  transition: 300ms;
}
.usersPfp:hover {
  filter: opacity(0.9);
}

.usersName {
  font-size: 14pt;
}

@media (min-width: 760px) {
  .heroRotater {
    margin: auto;
    margin-top: 87px;
    width: 70%;
  }

  .movieRow {
    margin: auto;
    width: 70%;
  }

  .loginForm {
    width: 400px;
  }

  .socialsBox {
    width: 240px;
  }

  .pageUsers {
    padding-bottom: 100px;
  }
}
@media (min-width: 1200px) {
  body {
    background-color: #471270;
  }

  .pageHome {
    filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.11));
    width: 80%;
    background-color: white;
    margin: auto;
  }

  .heroRotater {
    width: 70%;
  }

  .movieRow {
    width: 40%;
  }

  .heroVid {
    width: 100%;
  }

  .navbar {
    padding-left: 60px;
    padding-right: 60px;
  }

  .navAdmin {
    margin-left: 16px;
  }

  .navLogout {
    margin-left: 16px;
  }

  footer {
    padding-left: 60px;
    padding-right: 60px;
  }

  .footerIcon {
    padding-left: 10px;
  }

  .mediaRowHeader {
    margin: auto;
    margin-bottom: 46px;
    width: 80%;
  }

  .heroAudio {
    width: 40%;
  }

  .pageLogin {
    margin: auto;
    background-color: white;
    width: 80%;
    box-sizing: border-box;
  }

  .loginForm {
    width: 600px;
  }

  .socialsBox {
    width: 240px;
  }

  .pageUsers {
    margin: auto;
    width: 80%;
    padding-bottom: 100px;
  }

  .usersHeader {
    margin-bottom: 34px;
  }
}

/*# sourceMappingURL=main.css.map */
